<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MenuMapper">


    <resultMap type="com.ohgiraffers.section03.xmlconfig.MenuDTO" id="menuResultMap">
        <id property="code" column="MENU_CODE"/>
        <result property="name" column="MENU_NAME"/>
        <result property="price" column="MENU_PRICE"/>
        <result property="categoryCode" column="CATEGORY_CODE"/>
        <result property="orderableStatus" column="ORDERABLE_STATUS"/>
    </resultMap>

    <select id="selectAllMenu" resultMap="menuResultMap">
        SELECT  MENU_CODE
             , MENU_NAME
             , MENU_PRICE
             , CATEGORY_CODE
             , ORDERABLE_STATUS
        FROM  TBL_MENU
        WHERE  ORDERABLE_STATUS = 'Y'
        ORDER BY MENU_CODE
    </select>

    <!-- 파라미터가 한 개인 경우 바인딩 되는 이름은 상관 없으며, 파라미터 타입을 지정하지 않아도 된다.
         - resultMap : 위에서 생성한 resultMap을 리턴 타입으로 이용하는 경우
         - resultType : 이미 정의되어 있는 타입을 이용하여 리턴 타입으로 이용하는 경우 -->
    <select id="selectMenuByCode" parameterType="_int" resultMap="menuResultMap">
        SELECT  MENU_CODE
             , MENU_NAME
             , MENU_PRICE
             , CATEGORY_CODE
             , ORDERABLE_STATUS
        FROM  TBL_MENU
        WHERE  ORDERABLE_STATUS = 'Y'
          AND  MENU_CODE = #{ code }
    </select>

    <!-- insert, update, delete의 경우 resultType은 작성하지 않고, 기본 _int로 수행 결과를 반환한다.
         파라미터로 전달된 DTO의 필드명으로 값을 바인딩 해야 하며, getter를 이용하므로 getter가 없으면 에러가 발생한다.
         파라미터 타입도 생략이 가능하다. -->
    <insert id="insertMenu" parameterType="com.ohgiraffers.section03.xmlconfig.MenuDTO">
        INSERT INTO TBL_MENU (
                               MENU_NAME
                             ,MENU_PRICE
                             ,CATEGORY_CODE
                             ,ORDERABLE_STATUS
        )
        VALUES (
                 #{ name }
               , #{ price }
               , #{ categoryCode }
               , 'Y'
               )
    </insert>

    <update id="updateMenu" parameterType="com.ohgiraffers.section03.xmlconfig.MenuDTO">
        UPDATE  TBL_MENU
        SET  MENU_NAME = #{ name }
          , MENU_PRICE = #{ price }
        WHERE  MENU_CODE = #{ code }
    </update>

    <delete id="deleteMenu" parameterType="_int">
        DELETE
        FROM TBL_MENU
        WHERE MENU_CODE = #{ code }
    </delete>
</mapper>
