<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BookMapper">


    <resultMap type="Source_code.Booking.BookingDTO" id="bookResultMap">
        <id property="book_code" column="BOOK_CODE"/>
        <result property="book_date" column="BOOK_DATE"/>
        <result property="mem_code" column="MEM_CODE"/>
        <result property="m_code" column="MEDI_CODE"/>
        <result property="medi_count" column="MEDI_COUNT"/>
        <result property="book_status" column="BOOK_STATUS"/>
        <result property="medi_name" column="M_NAME"/>
        <result property="member_id" column="MEMBER_ID"/>


    </resultMap>
    <resultMap type="Source_code.member.MemberDTO" id="memberResultMap">
        <id property="member_code" column="member_code"/>
        <result property="member_id" column="member_id"/>
        <result property="member_password" column="member_password"/>
        <result property="member_name" column="member_name"/>
        <result property="member_phone" column="member_phone"/>
        <result property="member_birthday" column="member_birthday"/>
        <result property="member_gender" column="member_gender"/>
        <result property="member_email" column="member_email"/>
    </resultMap>
    <resultMap type="Source_code.Medicine.MedicineDTO" id="medicineResultMap">
        <id property="code" column="m_code"/>
        <result property="name" column="m_name"/>
        <result property="component" column="m_component"/>
        <result property="effect" column="m_effect"/>
        <result property="sideEffect" column="m_side_effect"/>
        <result property="amount" column="m_amount"/>
        <result property="strong" column="m_strong"/>
    </resultMap>



    <select id="selectMyBook" resultMap="bookResultMap" parameterType="Source_code.Booking.BookingDTO">
        select b.BOOK_CODE,b.BOOK_DATE,m.member_id,m.member_name,md.M_NAME,b.MEDI_COUNT,BOOK_STATUS
        from booking b
        join member m on b.mem_code=m.member_code
        join medicine md on md.m_code = b.medi_code;



    </select>

    <select id="selectMemberBook" resultMap ="bookResultMap" parameterType="Source_code.Booking.BookingDTO">
        select b.BOOK_CODE,b.BOOK_DATE,m.MEMBER_ID,m.MEMBER_NAME,md.M_NAME,b.MEDI_COUNT,BOOK_STATUS
        from booking b
                 join member m on b.MEM_CODE=m.MEMBER_CODE
                 join medicine md on md.M_CODE = b.MEDI_CODE
    where b.MEM_CODE = #{mem_code}



    </select>

    <select id="findBookAmount" resultMap ="bookResultMap" parameterType="Source_code.Booking.BookingDTO">
        select medi_count
        from booking
        where BOOK_CODE = #{book_code}



    </select>



    <insert id="insertMenu" parameterType="Source_code.Booking.BookingDTO">
        INSERT INTO BOOKING (
                               BOOK_DATE
                             ,MEM_CODE
                             ,MEDI_CODE
                             ,MEDI_COUNT
                             ,BOOK_STATUS
        )
        VALUES (
                 #{ book_date}
               , #{ mem_code }
               , (SELECT m_code FROM MEDICINE WHERE m_name like #{medi_name})
               , #{ medi_count }
               , 'N'

               )
    </insert>

    <update id="updateBook" parameterType="Source_code.Booking.BookingDTO">
        UPDATE  BOOKING
        SET  BOOK_STATUS = 'Y'
        WHERE  book_code = #{ book_code }
    </update>

        <delete id="deleteMenu" parameterType="Source_code.Booking.BookingDTO">
            DELETE
            FROM booking
            WHERE book_code = #{ book_code }
        </delete>
</mapper>