<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="IngredientMapper">
    <resultMap id="ingredientResultMap" type="Source_code.Component.Ingredient.IngredientDTO">
        <id property="id" column="id"/>
        <result property="ingredientCode" column="IngredientCode"/>
        <result property="ingredientName" column="IngredientName"/>
        <result property="effect" column="Effect"/>
        <result property="sideEffect" column="SideEffect"/>
        <result property="component" column="Component"/>
    </resultMap>

    <select id="selectAllIngredients" resultMap="ingredientResultMap">
        SELECT * FROM ingredients
    </select>

    <select id="getIngredientByCode" resultMap="ingredientResultMap" parameterType="Source_code.Component.Ingredient.IngredientDTO">
        SELECT * FROM ingredients WHERE IngredientName = #{ingredientName}
    </select>

    <insert id="insertIngredient" parameterType="Source_code.Component.Ingredient.IngredientDTO">
        INSERT INTO ingredients (IngredientCode, IngredientName, Effect, SideEffect,Component)
        VALUES (#{ingredientCode}, #{ingredientName}, #{effect}, #{sideEffect, jdbcType=VARCHAR},#{component})
    </insert>

    <update id="updateIngredient" parameterType="Source_code.Component.Ingredient.IngredientDTO">
        UPDATE ingredients
        SET IngredientName = #{ingredientName},
            Effect = #{effect},
            SideEffect = #{sideEffect},
            Component = #{component}

        WHERE IngredientCode = #{ingredientCode}
    </update>

    <delete id="deleteIngredient" parameterType="int">
        DELETE FROM ingredients WHERE IngredientCode = #{code}
    </delete>
</mapper>